# Build results
bin/
obj/
out/

# VS stuff
.vs/
*.user
*.suo

# OS junk
*.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
artifacts/

# Logs
*.log

# SQLite journal and cache files
*.db-shm
*.db-wal

# Rider
.idea/
*.iml

# Backup files
*~
*.bak
